body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Header {
    width: 100%;
    max-width: 1600px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin-bottom: 20px;
}

    #Header .logo {
        max-width: 50px;
        height: auto;
    }

    #Header h2 {
        font-size: 1.5em;
        color: #000000;
        margin-right: 700px;
    }

/* Navbar */
#navbar {
    list-style-type: none;
}

.container {
    width: 80%;
    max-width: 1200px;
}

.parable {
    background-color: rgba(31, 81, 246, 0.3);
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.parable img {
    width: 100%;
    height: auto;
    display: block;
}

.parable h2 {
    padding: 20px;
    margin: 0;
    background-color: #8f0ce9;
    color: white;
    text-align: center;
}

.parable p {
    padding: 20px;
    margin: 0;
    line-height: 1.6;
    color: #333;
}

.toggle-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0d0bdb;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}

.toggle-button:hover {
    background-color: #45a049;
}

.story {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
}
