@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: black#222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: blue#222;
}

h4 {
    font-size: 20px;
    color: white#222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #0f0101;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease;
}

body {
    width: 100%;
}
/*header start*/
#Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background: #9d33fa;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    border-radius: 10px 10px;
}

    #Header img {
        width: 120px;
        height: 95px;

       
    }

   

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#navbar h2 {
    display:flex;
    text-align: center;
    padding-right:1300px;
    flex-wrap:wrap;
   
}

   
  
/*head1*/

#Header .genesis {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background: #9d33fa;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    border-radius: 10px 10px;
}

    #Header img {
        width: 120px;
        height: 95px;
    }



#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

    #navbar h2 {
        display: flex;
        text-align: center;
        padding-right: 1300px;
        flex-wrap: wrap;
    }

   
  

/* Home page*/
#Odia {
    
    height: 93vh;
    width: 100%;
    
    background-size: cover;
    background-position: top 10% right 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    background-color: #cce7d0;
}

    /*offer color*/
    

    #Odia h2 {
        color: #0f0101;
    }
    #Odia .li{
        font-style:revert-layer;
        padding:100px;
        
    }


element.style {
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
    font-family: initial;
    font-size: xx-large;
}

    #Odia button {
        background-image: url("");
        background-color: #b5d543;
        shape-image-threshold: 0.5;
        border: 0;
        padding: /*top*/ 10px /*left*/ 20px /*bottom*/ 10px /*right*/ 20px;
        background-repeat: no-repeat;
        cursor: pointer;
        font-weight: 700;
        font-size: 15px;
    }



//



footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    footer .col {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    footer .logo {
        margin-bottom: 30px;
    }

    footer p {
        font-size: 13px;
        margin: 0 0 8px 0;
    }

    footer h4 {
        font-size: 13px;
        padding-bottom: 20px;
    }

    footer a {
        font-size: 13px;
        text-decoration: none;
        color: #222;
        margin-bottom: 10px;
    }

    footer .follow i {
        color: #465b52;
        padding-right: 4px;
        cursor: pointer;
    }

    footer .install .now {
        border: 1px solid #088178;
        border-radius: 6px;
    }

    footer .follow i:hover,
    footer a:hover {
        color: #088178;
    }

    footer .copyright {
        width: 100%;
        text-align: center;
    }
/*Shop*/
#page-header {
    background-image: url("image location");
    background-color: #ea4e4a;
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 1px;
}

    #page-header h2,
    #page-header p {
        color: #fff;
    }

#pagination {
    text-align: center;
}

    #pagination a {
        text-decoration: none;
        background-color: #088178;
        padding: 15px 20px;
        border-radius: 4px;
        color: #fff;
        font-weight: 600;
    }

        #pagination a i {
            font-size: 16px;
            font-weight: 600;
        }

/*Single product*/
#prodetails {
    display: flex;
    margin-top: 20px;
}

    #prodetails .single-pro-image {
        width: 40%;
        margin-right: 50px;
    }

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodeails .single-pro-details h4 {
    padding: 40px 0 20px;
}

#prodeails .single-pro-details h2 {
    padding: 20px;
}

#prodeails .single-pro-details select {
    display: black;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

    #prodetails .single-pro-details input: focus {
        outline: none;
    }

#prodetails .single-pro-details button {
    background: #088178;
    color: #fff;
}

#prodetails .single-pro-details span {
    line-height: 25px;
}



@media (max-width:799px) {
    .section-p1 {
        padding: 40px 80px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s ease;
    }

        #navbar .active {
            right: 0px;
        }

        #navbar li {
            margin-bottom: 25px;
        }

    #mobile {
        display: flex;
        align-items: center;
    }

        #mobile i {
            color: #1a1a1a;
            font-size: 24px;
            padding-left: 20px;
        }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
    }

        #feature .fe-box {
            margin: 15px 15px;
        }

    #product1 .pro-container {
        justify-content: center;
    }

    product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    #newsletter .form {
        width: 70%;
    }
}

/*About page*/

#page-header.about-header {
    background-color: #4f50ee;
}

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }

    #Header {
        padding: 10px 30px;
    }

    h2 {
        font-size: 38px;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #feature {
        justify-content: space-between;
    }

        #feature .fe-box {
            width: 155px;
            margin: 0, 0, 15px 0;
        }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #sm-banner .banner-box {
        height: 40vh;
    }

    #newsletter {
        padding: 40px 20px;
    }

        #newsletter .form {
            width: 100%;
        }

    footer .copyright {
        text-align: start;
    }
}
/*product1 absract.html*/



#page-header .absract-header {
    background-image: url("image location");
    background-color: #1a1a1a;
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 1px;
}

#page-header h2,
#page-header p {
    color: #fff;
}

#product4 .pro-container {
    display: flex;
    //justify-content: space-between;
    padding-top: 10px;
    padding-right: 22px;
    padding-left: 0px;
    flex-wrap: nowrap;
    justify-content: center;
}

#product4 .pro {
    width: 20%;
    min-width: 2px;
    padding: /*top to bottom*/ 10px /*left to right*/ 10px;
    border: 1px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: /*x*/ 20px /*y*/ 20px /*radius*/ 30px rgb(0,0,0,0.08);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro p {
    width: 100%;
    min-width: 50px;
    padding: /*top to bottom*/ 10px /*left to right*/ 12px;
    border: 1px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: /*x*/ 20px /*y*/ 20px /*radius*/ 30px rgb(0,0,0,0.08);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
    flex-wrap: nowrap;
}
